<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="/home/sidney/VisualizationWebPage/static/styles/style.css"/>
        <meta charset="utf-8"/>
        <link rel="shortcut icon" href="/home/sidney/VisualizationWebPage/static/images/weblogo.png"/>
        <title>My Visualization Web Page</title>
    </head>

<body >

    <header class="headercss">
    <img class="logocss" width="150" height="150"  src="/home/sidney/VisualizationWebPage/static/images/weblogo.png" alt="logo"/>
    <div class="headertextcss" border-position="center">
    <h2><p> Visualize Your Data </p></h2>
    <h4><p> &nbsp &nbsp &nbsp  &nbsp “Good desing is a good business. Thomas Watson Jr”</p></h4>
    </div>
    </header>
    	
	<div class="bodyy">
      <div class="bodyframe" height="700px"> 
	    <div class="tableheader">	
            <p>Please fill out all inputs</p>	
		</div>
	        <div class="bodycontent">
			
		    <form action="" method="" id="form" name="form1" onsubmit="return onayla()"><br/>
		    Import Dataset:&nbsp&nbsp &nbsp <input type="text" name="soyad" maxlength="20"  required /> &nbsp <br/>
			Input Y variables:&nbsp <input type="text" name="soyad" maxlength="20"  required /> &nbsp <br/>
			&nbspInput X variables:&nbsp <input type="text" name="kuladi"  required /> &nbsp <br/>			
            
            Type of plot: &nbsp &nbsp &nbsp &nbsp &nbsp <select name="takim"  required>
			<option value="fb" size="10px" selected="selected">  Bar plot  </option>  &nbsp &nbsp
			<option value="bjk">  Box plot </option> 
			<option value="bjk">  Dot plot </option> 
			<option value="bjk">  Histogram </option> 
			<option value="bjk">  Line plot </option>  
			<option value="gs">   Pie plot  </option>	
			<option value="bjk">  Scatter plot </option>    	     
			</select> &nbsp <br/>
			
			File type:&nbsp<input type="radio" name="cinsiyet" value="erkek"/><font size="2px">CSV</font> &nbsp 
            <input type="radio" name="cinsiyet" value="erkek"/><font size="2px">JSON</font> &nbsp
            <input type="radio" name="cinsiyet" value="erkek"/><font size="2px">XML</font> &nbsp &nbsp&nbsp <br/><br/>

            <input type="reset" value="Create"/> &nbsp &nbsp
            <input type="reset" value="Reset"/> &nbsp &nbsp 
            <input id="submitid" type="submit" value="Download"/> &nbsp &nbsp
		    </form>
         </div>
			
			<div class="positionOutputimage">
			<img class="imageFrame" src="/home/sidney/Vs/weblogo.png" alt="Your plot will show in here!!!"/>
			</div>
			
         </div>
		 
		 <!--pop-up part-->
	     <div id="disPopId" class="modal">
         <div class="modal-icerik">
         <span class="close">&times;</span>
         <p style=" position:center;">KAYIT BAŞARILI!</p>
		 </div>
         </div>
	
	
  <script type="text/javascript" >
	
	  function onayla(){
	
	    var x=document.forms['form1'][0].value;
	    var y=document.forms['form1'][1].value;
        var z=document.forms['form1'][2].value;
	    var t=document.forms['form1'][3].value;
		var h=document.forms['form1'][4].value;
	
		
	     if ( (x==null) && (y==null) && (z==null) && (t==null) && (h==null))
		 
		 {
		     alert("Lütfen Bütün Alanları Doldurunuz!!!");
			 
			 return true;
		 }
	   else{
			// Popup Al
		var modal = document.getElementById('disPopId');
		
		// Kipi açan düğmeyi al
		var btn = document.getElementById("submitid");
		
		// Kipi kapatan <span> öğesini edinin
		var span = document.getElementsByClassName("close")[0];
		
		// Kullanıcı düğmeyi tıklattığında
		btn.onclick = function() {
			modal.style.display = "block";
		}
		
		// Kullanıcı <span> (x) düğmesini tıkladığında, popup
		span.onclick = function() {
			modal.style.display = "none";
		}
		
		// Kullanıcı modelden başka herhangi bir yeri tıklattıysa, onu kapatın.
		window.onclick = function(event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}	 
	       return false;
		}
		
		
	}	
  </script>
    
</body>
</html>