<!DOCTYPE html>
<html>

    <head>
		<link rel="stylesheet" href="/home/sidney/VisualizationWebPage/static/css/style.css"/>
		<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" >
        <meta charset="utf-8"/>
		<link rel="shortcut icon" href="/home/sidney/VisualizationWebPage/static/images/weblogo.png"/>
		<title>My Visualization Web Page</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    </head>

<body >

    <header class="headercss">
    <img class="logocss" width="150" height="150"  src="/home/sidney/VisualizationWebPage/static/images/weblogo.png" alt="logo"/>
    <div class="headertextcss" border-position="center">
    <h2><p> Visualize Your Data </p></h2>
    <h4><p> &nbsp &nbsp &nbsp  &nbsp “Good desing is a good business. Thomas Watson Jr”</p></h4>
    </div>
    </header>
    	
	<div class="bodyy">
      <div class="bodyframe"> 
	    <div class="tableheader">	
            <p>Please fill out all inputs</p>	
		</div>
	        <div class="bodycontent">

			<!--this form for file choose-->
			<form action="/" method="POST" id="form" name="formDS" onsubmit="return butonDataset()"><br/>
				<input id="submitid" type="submit" value="Dataset" required/> &nbsp &nbsp </form> 
				
				<input id="downloadimage" type="submit" value="Download"/> &nbsp &nbsp	
			
           <!--this part for variables choose-->
			<form action="" method="" id="form" name="form1" onsubmit="return onayla()"><br/>
			Y variables:&nbsp <input type="text" name="soyad" maxlength="20"  required /> &nbsp <br/>
			X variables:&nbsp <input type="text" name="kuladi"  required /> &nbsp <br/>			
            
            &nbsp Choose Plot:&nbsp<select name="plots"  required>
			<option value="Bar" size="8px" selected="selected">Bar plot</option>  &nbsp &nbsp
			<option value="Box">Box plot</option> 
			<option value="Dot">Dot plot</option> 
			<option value="Histogram">Histogram</option> 
			<option value="Line">Line plot</option>  
			<option value="Pie"> Pie plot</option>	
			<option value="Scatter">Scatter plot</option>    	     
			</select> &nbsp <br/><br/>

            <input type="reset" value="Create"/> &nbsp &nbsp
            <input type="reset" value="Reset"/> &nbsp &nbsp 
			</form> 
		</div>	


        <!--Bu kısım verinin gösterileceği kısım-->
		<div class="tableheader" style="margin-top:-73px;">	
            <p>See your dataset</p>	
		</div>
		<div class="bodyDataset">
        <p>see your dataset</p>
        </div>


		<!--Bu kısım resmin gösterilceği kısım-->
			<div class="positionOutputimage">
			<img class="imageFrame"/>
			 </div>		 			
		 </div>
		 
		 <!--pop-up part for upload part -->
	     <div id="disPopId" class="modal">
         <div class="modal-icerik">
		 <span class="close">&times;</span>

		 <!--When files are being included in the form, you must use POST,
			 as it would be impossible to submit file data in the query string.-->
		 <form id="upload-form" action="" method="POST" enctype="multipart/form-data">
		 <input id="file-picker" type="file" class="file" name="file" accept="file/*" multiple>
		 <div id="msg"></div> <br/>
		 <input type="submit" value="Upload!" id="upload-button">
		</form>
	     </div> </div>
		 
		<!--pop-up part  for fiil out forms completed-->
		<div id="disPopId" class="modal">
		<div class="modal-icerik">
		<span class="close">&times;</span>
		<p style=" position:center;">KAYIT BAŞARILI!</p>
		</div>
		</div>

		<script src="{{url_for('static', filename='myScript.js')}}"></script>

</body>
</html>